section.section.customiser_section
	.customiser_section__wrapper
		.customiser_section__image_wrap.imageAnim
			+picture({
				img: 'section-image/item3.jpg',
				class: 'customiser_section__pictures',
				img_class: 'customiser_section__image',
				alt: 'image item 3',
			})
		.customiser_section__content
			.customiser_section__link.textAnim
				a.customiser_section__link_btn(href="#") Visit Website
			h3.customiser_section__title.titleAnim Powered by <span>The Customiser<sup>TM</sup></span>
			.customiser_section__text.textAnim
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu nisl morbi odio semper iaculis etiam elit. Arcu enim, et suspendisse condimentum quam elementum lacus, mi, a. Bibendum vitae in eget posuere vitae est. Diam pulvinar turpis rhoncus condimentum. Senectus nam sed etiam lectus mauris aliquet et. Vehicula mauris nullam placerat pretium eleifend.
				p Platea metus enim lectus euismod commodo dui. Viverra vehicula vitae mus euismod. Eros, amet consequat sem enim gravida non aliquet sagittis. Erat adipiscing pharetra gravida curabitur nibh. Lectus fermentum lorem quam phasellus dolor nunc, a purus viverra. Commodo pretium ut tincidunt dictumst commodo arcu suspendisse pretium erat.
			.customiser_section__link_tablet.textAnim
				a.customiser_section__link_btn(href="#") Visit Website