section.section.main_section
		.main_section__wrapper
			.main_section__content
				a.main_section__logo(href="#")
					img(src="images/logo.svg", class="main_section__logo_img" alt="logo")
				h1.main_section__title Where imagination & creativity come to life
				button.main_section__btn(type="button" arial-lebel="scroll bottom") Scroll
			.main_section__image_wrap
				+picture({
					media: 768,
					is2x: false,
					img: 'section-image/item1.jpg',
					img_mob: 'section-image/item1_mob.jpg',
					class: 'main_section__pictures',
					img_class: 'main_section__image',
					alt: 'main image',
					loading: 'lazy'
				})


