section.section.makers_section
	.makers_section__wrapper
		.makers_section__image.imageAnim
			+picture({
				img: 'section-image/item6.jpg',
				class: 'makers_section__image_in',
				img_class: 'makers_section__image_img',
				alt: 'image item 3',
			})
		.makers_section__content
			h3.makers_section__title.titleAnim A place for makers alike
			p.makers_section__text.textAnim Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt aliquet interdum massa in pulvinar ante. Tincidunt vivamus nulla magna semper lacus lacinia maecenas sed. Arcu commodo urna, phasellus neque.