section.section.marketplace_section
	.marketplace_section__wrapper
		.marketplace_section__content
			h3.marketplace_section__title.titleAnim A marketplace like no other
			p.marketplace_section__text.textAnim Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt aliquet interdum massa in pulvinar ante. Tincidunt vivamus nulla magna semper lacus lacinia maecenas sed. Arcu commodo urna, phasellus neque.
		.marketplace_section__image_wrap.imageAnim
			+picture({
				media: 768,
				is2x: false,
				img: 'section-image/item4.jpg',
				img_mob: 'section-image/item4_mob.jpg',
				class: 'marketplace_section__pictures',
				img_class: 'marketplace_section__image',
				alt: 'image item 4',
				loading: 'lazy'
			})