section.section
	.section_in
		.scrollbar_section.swiper
			.scrollbar_section_wrapper.swiper-wrapper
				.scrollbar_section_slide.swiper-slide
					.scrollbar_section__image
							+picture({
								img: 'section-image/item5.jpg',
								class: 'scrollbar_section__image_in',
								img_class: 'scrollbar_section__image_img',
								alt: 'image scrollbar',
							})
				.scrollbar_section_slide.swiper-slide
					.scrollbar_section__image
							+picture({
								img: 'section-image/item4.jpg',
								class: 'scrollbar_section__image_in',
								img_class: 'scrollbar_section__image_img',
								alt: 'image scrollbar',
							})
				.scrollbar_section_slide.swiper-slide
					.scrollbar_section__image
							+picture({
								img: 'section-image/item3.jpg',
								class: 'scrollbar_section__image_in',
								img_class: 'scrollbar_section__image_img',
								alt: 'image scrollbar',
							})
				.scrollbar_section_slide.swiper-slide
					.scrollbar_section__image
							+picture({
								img: 'section-image/item2.jpg',
								class: 'scrollbar_section__image_in',
								img_class: 'scrollbar_section__image_img',
								alt: 'image scrollbar',
							})
				.scrollbar_section_slide.swiper-slide
					.scrollbar_section__image
							+picture({
								img: 'section-image/item1.jpg',
								class: 'scrollbar_section__image_in',
								img_class: 'scrollbar_section__image_img',
								alt: 'image scrollbar',
							})
				.scrollbar_section_body.swiper-scrollbar