-
	let scrollbarSlider= [
		{
			image: {
				src: 'images/slider-image/slider1.jpg',
				alt: 'image scrollbar 1'
			},
		},
		{
			image: {
				src: 'images/slider-image/slider2.jpg',
				alt: 'image scrollbar 2'
			},
		},
		{
			image: {
				src: 'images/slider-image/slider3.jpg',
				alt: 'image scrollbar 3'
			},
		},
		{
			image: {
				src: 'images/slider-image/slider1.jpg',
				alt: 'image scrollbar 4'
			},
		},
		{
			image: {
				src: 'images/slider-image/slider2.jpg',
				alt: 'image scrollbar 5'
			},
		},
		{
			image: {
				src: 'images/slider-image/slider3.jpg',
				alt: 'image scrollbar 6'
			},
		}
	];


.section.scrollbar_slider_section
	.section_in.scrollbar_section_in
		.scrollbar_slider_section__swiper
			.scrollbar_slider_section__wrapper.swiper-wrapper
				each slide in scrollbarSlider
					.scrollbar_slider_section__slide.swiper-slide
						img.scrollbar_slider_section__image.imageAnim(src= slide.image.src, alt= slide.image.alt)
			.scrollbar_slider_section__scrollbar.swiper-scrollbar