section.section
	.section_in.scrollbar_section_in
		.scrollbar_section
			.scrollbar_section_wrapper.swiper-wrapper
				.scrollbar_section_slide.swiper-slide
					.scrollbar_section__image
						+picture({
							img: 'slider-image/slider1.jpg',
							class: 'scrollbar_section__image_in',
							img_class: 'scrollbar_section__image_img',
							alt: 'image scrollbar',
						})
				.scrollbar_section_slide.swiper-slide
					.scrollbar_section__image
						+picture({
							img: 'slider-image/slider2.jpg',
							class: 'scrollbar_section__image_in',
							img_class: 'scrollbar_section__image_img',
							alt: 'image scrollbar',
						})
				.scrollbar_section_slide.swiper-slide
					.scrollbar_section__image
						+picture({
							img: 'slider-image/slider3.jpg',
							class: 'scrollbar_section__image_in',
							img_class: 'scrollbar_section__image_img',
							alt: 'image scrollbar',
						})
				.scrollbar_section_slide.swiper-slide
					.scrollbar_section__image
						+picture({
							img: 'slider-image/slider1.jpg',
							class: 'scrollbar_section__image_in',
							img_class: 'scrollbar_section__image_img',
							alt: 'image scrollbar',
						})
				.scrollbar_section_slide.swiper-slide
					.scrollbar_section__image
						+picture({
							img: 'slider-image/slider2.jpg',
							class: 'scrollbar_section__image_in',
							img_class: 'scrollbar_section__image_img',
							alt: 'image scrollbar',
						})
				.scrollbar_section_slide.swiper-slide
					.scrollbar_section__image
						+picture({
							img: 'slider-image/slider3.jpg',
							class: 'scrollbar_section__image_in',
							img_class: 'scrollbar_section__image_img',
							alt: 'image scrollbar',
						})
			.scrollbar_section_body.swiper-scrollbar