-
	let	slides = [
			{
				title: 'Have A Go Hero’s',
				text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt aliquet interdum massa in pulvinar ante. Tincidunt vivamus nulla magna semper lacus lacinia maecenas sed. Arcu commodo urna, 	phasellus neque.',
				image: {
					src: 'slider-fullscreen/image1.jpg',
					alt: 'image item 1',
				},
			},
			{
				title: 'Artists',
				text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt aliquet interdum massa in pulvinar ante. Tincidunt vivamus nulla magna semper lacus lacinia maecenas sed. Arcu commodo urna, phasellus neque.',
				image: {
					src: 'slider-fullscreen/image2.jpg',
					alt: 'image item 2',
				},
			},
			{
				title: 'Brands',
				text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt aliquet interdum massa in pulvinar ante. Tincidunt vivamus nulla magna semper lacus lacinia maecenas sed. Arcu commodo urna, 	phasellus neque.',
				image: {
					src: 'slider-fullscreen/image3.jpg',
					alt: 'image item 3',
				},
			},
			{
				title: 'Makers',
				text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt aliquet interdum massa in pulvinar ante. Tincidunt vivamus nulla magna semper lacus lacinia maecenas sed. Arcu commodo urna, 	phasellus neque.',
				image: {
					src: 'slider-fullscreen/image4.jpg',
					alt: 'image item 4',
				},
			}
		];
section.section.slider_fullscreen
	.slider_fullscreen__swiper.swiper
		ul.slider_fullscreen__list.swiper-wrapper
			each slide in slides
				li.slider_fullscreen__item.swiper-slide
					.slider_fullscreen_slide
						h3.slider_fullscreen_slide__title.titleAnim= slide.title
						p.slider_fullscreen_slide__text= slide.text
						.slider_fullscreen_slide__image_wrap.imageAnim
							+picture({
								img: slide.image.src,
								class: 'slider_fullscreen_slide__picture',
								img_class: 'slider_fullscreen_slide__image',
								alt: slide.image.alt,
							})
		.slider_fullscreen__scrollbar
			.slider_fullscreen__drag
				.slider_fullscreen__drag_arrows
					+icon( 'slider_arrow_prev' , 'icon--size_mod')
					+icon( 'slider_arrow_prev' , 'icon--size_mod')
				.slider_fullscreen__drag_title Drag
				.slider_fullscreen__drag_arrows
					+icon( 'slider_arrow_next' , 'icon--size_mod')
					+icon( 'slider_arrow_next' , 'icon--size_mod')