section.section.slider_fullscreen
	.section_in
		.slider_fullscreen__swiper.swiper
			ul.slider_fullscreen__list.swiper-wrapper
				li.slider_fullscreen__item.swiper-slide
					a.slider_fullscreen__link(href="#")
						h3.slider_fullscreen__title Have A Go Hero’s
						p.slider_fullscreen__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt aliquet interdum massa in pulvinar ante. Tincidunt vivamus nulla magna semper lacus lacinia maecenas sed. Arcu commodo urna, phasellus neque.
						.slider_fullscreen__image
							+picture({
								img: 'slider-fullscreen/image1.jpg',
								class: 'slider_fullscreenn__image_in',
								img_class: 'slider_fullscreen__image_img',
								alt: 'image item',
							})
				li.slider_fullscreen__item.swiper-slide
					a.slider_fullscreen__link(href="#")
						h3.slider_fullscreen__title Artists
						p.slider_fullscreen__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt aliquet interdum massa in pulvinar ante. Tincidunt vivamus nulla magna semper lacus lacinia maecenas sed. Arcu commodo urna, phasellus neque.
						.slider_fullscreen__image
							+picture({
								img: 'slider-fullscreen/image2.jpg',
								class: 'slider_fullscreenn__image_in',
								img_class: 'slider_fullscreen__image_img',
								alt: 'image item',
							})
				li.slider_fullscreen__item.swiper-slide
					a.slider_fullscreen__link(href="#")
						h3.slider_fullscreen__title Brands
						p.slider_fullscreen__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt aliquet interdum massa in pulvinar ante. Tincidunt vivamus nulla magna semper lacus lacinia maecenas sed. Arcu commodo urna, phasellus neque.
						.slider_fullscreen__image
							+picture({
								img: 'slider-fullscreen/image3.jpg',
								class: 'slider_fullscreenn__image_in',
								img_class: 'slider_fullscreen__image_img',
								alt: 'image item',
							})
				li.slider_fullscreen__item.swiper-slide
					a.slider_fullscreen__link(href="#")
						h3.slider_fullscreen__title Makers
						p.slider_fullscreen__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt aliquet interdum massa in pulvinar ante. Tincidunt vivamus nulla magna semper lacus lacinia maecenas sed. Arcu commodo urna, phasellus neque.
						.slider_fullscreen__image
							+picture({
								img: 'slider-fullscreen/image4.jpg',
								class: 'slider_fullscreenn__image_in',
								img_class: 'slider_fullscreen__image_img',
								alt: 'image item',
							})
				li.slider_fullscreen__item.swiper-slide
					a.slider_fullscreen__link(href="#")
						h3.slider_fullscreen__title Makers
						p.slider_fullscreen__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt aliquet interdum massa in pulvinar ante. Tincidunt vivamus nulla magna semper lacus lacinia maecenas sed. Arcu commodo urna, phasellus neque.
						.slider_fullscreen__image
							+picture({
								img: 'slider-fullscreen/image1.jpg',
								class: 'slider_fullscreenn__image_in',
								img_class: 'slider_fullscreen__image_img',
								alt: 'image item',
							})
				li.slider_fullscreen__item.swiper-slide
					a.slider_fullscreen__link(href="#")
						h3.slider_fullscreen__title Makers
						p.slider_fullscreen__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt aliquet interdum massa in pulvinar ante. Tincidunt vivamus nulla magna semper lacus lacinia maecenas sed. Arcu commodo urna, phasellus neque.
						.slider_fullscreen__image
							+picture({
								img: 'slider-fullscreen/image2.jpg',
								class: 'slider_fullscreenn__image_in',
								img_class: 'slider_fullscreen__image_img',
								alt: 'image item',
							})
			//- .slider_fullscreen__cursor Drag