@import "ScssHelpers/helpers_all";

.image_left_in {
	@include bp($point_2, min) {
		height: 100vh;
		@include flex_block(row, nowrap, flex-start);
	}
	@include bp($point_2 - 1) {
		@include flex_block(column, nowrap, flex-start, center);
	}
}

.image_left__body_img {
	flex-shrink: 0;

	@include bp($point_2, min) {
		height: var(--full-screen);
		width: 33.333%;
	}

	@include bp($point_2 - 1) {
		height: 50vh;
		width: 100%;
	}
}

.image_left__img_in {
	@extend %image_size;
}

.image_left__img {
	@extend %cover_img;
}

.image_left__content {
	width: 100%;

	margin: 0 auto;

	@include flex_block(column, nowrap, flex-start);

	&.image_left__content--style_1_mod {
		@include bp($point_2, min) {
			max-width: 94rem;
			padding: 5rem 10rem;
			max-width: 100%;
		}
	}

	&.image_left__content--style_2_mod {
		@include bp($point_2, min) {
			max-width: 56rem;
			margin: 0;
			margin-right: auto;
		}
	}

	@include bp($point_2, min) {
		height: var(--full-screen);
		padding: 5rem;
	}
	@include bp($point_2 - 1) {
		height: 100%;
		width: 100%;
		padding: 3rem 2rem;
		text-align: center;
	}
}

.image_left__link {
	@include bp($point_2, min) {
		margin-left: auto;
	}
	@include bp($point_2 - 1) {
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}
}

.image_left__link_btn {
	@extend %blue_btn_1;
	@extend %btn_size_1;
}

.image_left__title {
	position: relative;
	width: 100%;

	@extend %title_style_1_mod;

	@include bp($point_2, min) {
		max-width: 48rem;
		margin: auto 0;
	}
	@include bp($point_2 - 1) {
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}
}

.image_left__title_decor {
	padding-left: 1rem;
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 2.4;
}

.image_left__text {
	@extend %text_style;

	display: -webkit-box;
	-webkit-line-clamp: 12;
	-webkit-box-orient: vertical;
	overflow: hidden;

	&.image_left__text--style_2_mod {
		margin-left: 0;
		max-width: 100%;
	}

	p {
		display: -webkit-box;
		-webkit-line-clamp: 6;
		-webkit-box-orient: vertical;
		overflow: hidden;
		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}

	@include bp($point_2, min) {
		max-width: 44rem;
		margin-left: auto;
		margin-top: auto;
	}
	@include bp($point_2 - 1) {
		margin: auto 0;
	}
}
