@import "ScssHelpers/helpers_all";

.image_left_in {
	@include flex_block(row, nowrap, flex-start);
}

.image_left__body_img {
	@extend %image_full_screen;
}

.image_left__img_in {
	@extend %image_size;
}

.image_left__img {
	@extend %cover_img;
}

.image_left__content {
	width: 100%;
	max-width: 94rem;
	height: var(--full-screen);
	margin: 0 auto;
	padding: 5rem;
	@include flex_block(column, nowrap, flex-start);

	&.image_left__content--style_1_mod {
		padding: 5rem 10rem;
		max-width: 100%;
	}

	&.image_left__content--style_2_mod {
		max-width: 56rem;
		margin: 0;
		margin-right: auto;
	}
}

.image_left__button {
	margin-left: auto;
}

.image_left__button_btn {
	@extend %blue_btn_1;
	@extend %btn_size_1;
}

.image_left__title {
	position: relative;
	max-width: 46rem;
	margin: auto 0;
	@extend %title_style;
}

.image_left__title_decor {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0 -2rem 3rem 0;
	font-weight: 700;
	font-size: 1.4rem;
	line-height: 2.4;
}

.image_left__text {
	max-width: 44rem;
	margin-left: auto;
	margin-top: auto;

	@extend %text_style;

	display: -webkit-box;
	-webkit-line-clamp: 12;
	-webkit-box-orient: vertical;
	overflow: hidden;

	&.image_left__text--style_2_mod {
		margin-left: 0;
		max-width: 100%;
	}

	p {
		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}
}
