@import "ScssHelpers/helpers_all";

.main_section {
}

.main_section__body {
	@include bp($point_5, min) {
		@include flex_block(row, nowrap, flex-start);
	}
}

.main_section__content {
	@include flex_block(column, nowrap, flex-start);

	margin-right: auto;

	@include bp($point_5, min) {
		height: 100vh;
		padding: 5rem;
	}
	@include bp($point_5 - 1) {
		height: 40vh;
		padding: 2rem;
	}
}

.main_section__logo {
	display: inline-flex;
	flex-shrink: 0;
	width: 3.6rem;
	height: 4rem;
	&:not(:last-child) {
		margin-bottom: 2rem;
	}
}

.main_section__logo_img {
	display: block;
	width: 100%;
	height: 100%;
	@extend %contain_img;
}

.main_section_title {
	max-width: 80rem;
	margin: auto 0;
	@extend %title_style_1_mod;
}

.main_section__image {
	@extend %image_full_screen;
}

.main_section__image_in {
	@extend %image_size;
}
.main_section__image_img {
	@extend %cover_img;
}
