@import "ScssHelpers/helpers_all";

.marketplace_section__wrapper {
	@include bp($point_4, min) {
		@include flex_block(row, nowrap, flex-start);
	}
	@include bp($point_4 - 1) {
		flex-direction: column;
	}
}

.marketplace_section__content {
	@include flex_block(column, nowrap, flex-start);

	margin-right: auto;

	@include bp($point_3, min) {
		min-height: 100vh;
		flex: 1 1 auto;
		padding: 10rem 5rem 5rem;
	}

	@include bp($point_3, $point_4) {
		flex: 1 1 auto;
		min-height: 90rem;
		padding: 14rem 5rem 5rem;
	}
	@include bp($point_4 - 1) {
		min-height: 49rem;
		padding: 7rem 3rem 6rem;
	}
}

.marketplace_section__title {
	@extend %title_style_1_mod;

	margin: auto 0;
	@include bp($point_3, min) {
		max-width: 50rem;
	}
	@include bp($point_3, $point_4) {
		max-width: 35rem;
	}
	@include bp($point_4 - 1) {
		max-width: 24rem;
		&:not(:last-child) {
			margin-bottom: 6rem;
		}
	}
}

.marketplace_section__text {
	@extend %text_style;
	max-width: 46rem;
	@include bp($point_3, min) {
		max-width: 46rem;
	}
	@include bp($point_3, $point_4) {
		max-width: 36rem;
	}
	@include bp($point_4 - 1) {
	}
}

.marketplace_section__image {
	flex-shrink: 0;

	position: relative;
	@include bp($point_3, min) {
		width: 33.333%;
		min-height: 100vh;
	}
	@include bp($point_3, $point_4) {
		width: 42%;
		min-height: 90rem;
	}

	@include bp($point_4 - 1) {
		height: 32rem;
		width: 100%;
	}
}

.marketplace_section__image_in {
	@extend %position_absolute;
}

.marketplace_section__image_img {
	@extend %cover_img;
	@include bp($point_1 - 1) {
		object-position: left;
	}
}
