@import "ScssHelpers/helpers_all";

.scrollbar_slider_section {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;

		height: 100%;
		background-color: $white;
		z-index: 100;
	}

	@include bp($point_2, min) {
		padding: 3rem 0 5rem 12.6rem;
		&::before {
			width: 12.6rem;
		}
	}

	@include bp($point_2 - 1) {
		padding: 15rem 0 15rem 5rem;
		&::before {
			width: 5rem;
		}
	}
	@include bp($point_4) {
		padding: 5rem 0 4rem 3rem;
		&::before {
			width: 3rem;
		}
	}
}

.scrollbar_section_in {
	@extend %global_flex_block_row_nowrap_flex-start_center;

	@include bp($point_2, min) {
		min-height: var(--full-screen);
	}
	@include bp($point_3, $point_4) {
		min-height: 100%;
	}
	@include bp($point_4 - 1) {
		min-height: 100%;
	}
}

.scrollbar_slider_section__wrapper {
	@include bp($point_2, min) {
		&:not(:last-child) {
			margin-bottom: 6rem;
		}
	}
	@include bp($point_3, $point_4) {
		&:not(:last-child) {
			margin-bottom: 3.4rem;
		}
	}
	@include bp($point_4 - 1) {
		&:not(:last-child) {
			margin-bottom: 2.1rem;
		}
	}
}

.scrollbar_slider_section__slide {
	width: auto;

	@include bp($point_2, min) {
		min-height: 57.8rem;
	}
	@include bp($point_3, $point_4) {
		height: 32.8rem;
	}
	@include bp($point_4 - 1) {
		height: 22rem;
	}
}

.scrollbar_slider_section__image {
	@extend %cover_img;
}

.scrollbar_slider_section__scrollbar {
	max-width: 167rem;
	width: 100%;
	height: 5px;
	background-color: $grey;
}

.scrollbar_slider_section__scrollbar_drag {
	position: relative;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #657de9;
	border-radius: 10px;
}
