@import "ScssHelpers/helpers_all";

.slider_fullscreen {
	height: 100%;
}
.slider_fullscreen__list {
	@extend %global_flex_block_row_nowrap_flex-start_center;
}

.slider_fullscreen__item {
	position: relative;
	flex-shrink: 0;
	width: 30%;
	height: var(--full-screen);
	padding: 5rem;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: 5;
	}

	@media (any-hover: hover) {
		&:hover {
			.slider_fullscreen__text {
				opacity: 1;
				visibility: visible;
				margin-top: 0;
			}
		}
	}

	@media (hover: none) {
		&:active {
			.slider_fullscreen__text {
				opacity: 1;
				visibility: visible;
				margin-top: 0;
			}
		}
	}
}

.slider_fullscreen__link {
	display: block;
	height: 100%;
	@include flex_block(column, nowrap, center, flex-start);
}

.slider_fullscreen__title {
	position: relative;

	font-size: 4rem;
	line-height: 1.2;
	color: $white;
	z-index: 10;
	&:not(:last-child) {
		margin-bottom: 4rem;
	}
}

.slider_fullscreen__text {
	position: relative;
	margin-top: -50%;

	@extend %text_style;
	color: $white;

	opacity: 0;
	visibility: hidden;

	z-index: 10;
	transition: all 0.3s ease, margin 0.4s ease;

	display: -webkit-box;
	-webkit-line-clamp: 12;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.slider_fullscreen__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.slider_fullscreenn__image_in {
	@extend %image_size;
}

.slider_fullscreen__image_img {
	@extend %cover_img;
}

.slider_fullscreen__cursor {
	font-size: 1.4rem;
	background: $white;
	border-radius: 100px;
}

.slider_fullscreen__scrollbar {
	position: absolute;
	bottom: 26%;
	right: 26%;
	width: 20rem;

	@extend %global_flex_block_row_nowrap_flex-start_center;

	z-index: 100;
}

.slider_fullscreen__drag {
	@extend %global_flex_block_row_nowrap_center_center;
}

.slider_fullscreen__drag_arrows {
	flex-shrink: 0;
	width: 2rem;
	height: 2rem;
	padding: 5px;

	@extend %global_flex_block_row_nowrap_center_center;

	background-color: $white;
	border-radius: 50%;
	z-index: 100;
}

.slider_fullscreen__drag_title {
	max-width: 7rem;
	padding: 1rem 2rem;
	margin: 0 5px;

	@extend %global_flex_block_row_nowrap_center;

	font-size: 1.4rem;
	background-color: #ffffff;
	border-radius: 10rem;
	cursor: pointer;
}
