@import "ScssHelpers/helpers_all";

.slider_fullscreen__list {
	@include bp($point_2, min) {
		@include flex_block(row, nowrap, flex-start, center);
	}
}

.slider_fullscreen__item {
	position: relative;
	flex-shrink: 0;
	width: 58.8rem;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: 5;
	}

	@media (any-hover: hover) {
		&:hover {
			.slider_fullscreen__text {
				margin-top: 0;
				opacity: 1;
				visibility: visible;
			}
		}
	}
}

.slider_fullscreen_slide {
	@include flex_block(column, nowrap, center, flex-start);

	@include bp($point_4, min) {
		min-height: var(--full-screen);
		padding: 9rem var(--gl-indent) var(--gl-indent);
	}

	@include bp($point_4 - 1) {
		min-height: 60rem;
		padding: 3rem 3rem 3.2rem;
	}
}

.slider_fullscreen_slide__body {
	position: relative;
	z-index: 10;

	cursor: pointer;
}

.slider_fullscreen_slide__title {
	@extend %title_style_4_mod;

	max-width: 40rem;

	color: $white;

	@include bp($point_2, min) {
		&:not(:last-child) {
			margin-bottom: 4rem;
		}
	}

	@include bp($point_3, $point_4) {
		&:not(:last-child) {
			margin-bottom: var(--gl-indent);
		}
	}

	@include bp($point_4 - 1) {
		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}
}

.slider_fullscreen_slide__text {
	font-weight: 500;
	color: $white;

	font-size: 1.4rem;
	line-height: 171%;

	transition: all 0.3s ease, margin 0.4s ease;

	display: -webkit-box;
	-webkit-line-clamp: 12;
	-webkit-box-orient: vertical;
	overflow: hidden;

	margin-bottom: -12rem;
	opacity: 0;
	visibility: hidden;

	transition: opacity 0.3s ease, margin 0.6s ease;

	.slider_fullscreen_slide__body:hover &,
	.slider_fullscreen_slide__body:focus & {
		margin-bottom: 0;
		opacity: 1;
		visibility: visible;
	}

	@include bp($point_2, min) {
		max-width: 31rem;
	}
	@include bp($point_3, $point_4) {
		max-width: 34rem;
	}

	@include bp($point_4 - 1) {
		font-size: 1.2rem;
		line-height: 182%;
	}
}

.slider_fullscreen_slide__image_wrap {
	@extend %position_absolute;
}

.slider_fullscreen_slide__picture,
.slider_fullscreen_slide__image {
	@extend %cover_img;
}

.slider_fullscreen__cursor {
	font-size: 1.4rem;
	background-color: $white;
	border-radius: 100px;
}

.slider_fullscreen__scrollbar {
	position: absolute;
	z-index: 100;
	width: 20rem;
	right: 24%;

	@extend %global_flex_block_row_nowrap_flex-start_center;

	@include bp($point_2, min) {
		bottom: 26%;
	}
	@include bp($point_2 - 1) {
		display: none;
	}
}

.slider_fullscreen__drag {
	@extend %global_flex_block_row_nowrap_center_center;
}

.slider_fullscreen__drag_arrows {
	@extend %global_flex_block_row_nowrap_center_center;

	flex-shrink: 0;
	width: 2rem;
	height: 2rem;
	padding: 5px;

	background-color: $white;
	border-radius: 50%;
	z-index: 100;
}

.slider_fullscreen__drag_title {
	@extend %global_flex_block_row_nowrap_center;

	max-width: 7rem;
	padding: 1rem 2rem;
	margin: 0 5px;

	font-size: 1.4rem;
	line-height: 171%;
	background-color: #ffffff;
	border-radius: 10rem;
	cursor: pointer;
}
