@import "ScssHelpers/helpers_all";

.slider_section {
	position: relative;
	background-color: $section_bg;
}

.slider_section__body {
	@include bp($point_2, min) {
		@include flex_block(row, nowrap, flex-start);
	}

	@include bp($point_2 - 1) {
		flex-direction: column;
		height: 100%;
		text-align: center;
	}
}

.slider_section_title {
	margin: auto 0;
	color: $white;
	@extend %title_style_2_mod;
	@include bp($point_2, min) {
		width: 33.333%;
		padding: 5rem;
	}

	@include bp($point_2 - 1) {
		height: 20vh;
		width: 100%;
		@include flex_block(row, nowrap, center, center);
	}
}

.slider_section__image {
	flex-shrink: 0;
	@include bp($point_2, min) {
		width: 33.333%;
		height: var(--full-screen);
	}
	@include bp($point_2 - 1) {
		height: 40vh;
		width: 100%;
	}
}

.slider_section__image_in {
	@extend %image_size;
}

.slider_section__image_img {
	@extend %cover_img;
}

.slider_section__content {
	@include bp($point_2, min) {
		width: 33.333%;
		margin-top: auto;
		padding: 5rem 5rem 10%;
	}
	@include bp($point_2 - 1) {
		padding: 2rem;
		margin: auto 0;
	}
}

.slider_section__content_title {
	font-size: 2.4rem;
	line-height: 3.4;
	color: $white;
}
.slider_section__content_text {
	color: $white;
	@extend %text_style;

	@include bp($point_2, min) {
		display: -webkit-box;
		-webkit-line-clamp: 12;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
	@include bp($point_2 - 1) {
		display: -webkit-box;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}

.slider_section_arrows {
	position: absolute;
	z-index: 100;
	@extend %global_flex_block_row_nowrap_flex-start_center;

	@include bp($point_2, min) {
		right: 22%;
		bottom: 5rem;
	}
	@include bp($point_2 - 1) {
		left: 50%;
		bottom: 2rem;
		transform: translateX(-50%);
	}
}

.slider_section_arrow {
	z-index: 100;
	width: 4rem;
	height: 4rem;
	padding: 1.2rem;
	color: $white;
	background-color: #647de8;
	border-radius: 50%;

	transition: opacity 0.3s ease;
	cursor: pointer;

	&:not(:last-child) {
		margin-right: 4rem;
	}
}

.slider_section_arrow--prev {
}

.slider_section_arrow--next {
}

.swiper-button-disabled {
	opacity: 0.5;
}
