mixin footer
	footer.footer
		.footer__in
			.footer__content
				h3.footer__title(class= "titleAnim") We’ll be launching very soon!
				p.footer__text(class= "textAnim") So sign up to get notified as soon as we launch so you can start making your own custom products and selling them to the masses.
			form.footer__form(class= "imageAnim")
					+form_input({
						block_class: 'footer_form__input',
						field_class: 'footer_form__field',
						class:'footer_form__input_email',
						type: 'email',
						placeholder: 'Your Email Address',
						id: 'email',
					})
					.footer__form_button
						button.footer__form_btn(type="submit") Sign up