block project_vars
-
	let arrayImageBtn = [
		{
			image_left: 'section-image/item3.jpg',
			title: 'Powered by The Customiser',
			text: '<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu nisl morbi odio semper iaculis etiam elit. Arcu enim, et suspendisse condimentum quam elementum lacus, mi, a. Bibendum vitae in eget posuere vitae est. Diam pulvinar turpis rhoncus condimentum. Senectus nam sed etiam lectus mauris aliquet et. Vehicula mauris nullam placerat pretium eleifend.</p> <p>Platea metus enim lectus euismod commodo dui. Viverra vehicula vitae mus euismod. Eros, amet consequat sem enim gravida non aliquet sagittis. Erat adipiscing pharetra gravida curabitur nibh. Lectus fermentum lorem quam phasellus dolor nunc, a purus viverra. Commodo pretium ut tincidunt dictumst commodo arcu suspendisse pretium erat.</p>',
			text_decor: 'TM',
			buttom: 'Visit Website',
			image_body: 'image_left_in--style_1_mod'
		}
	];

	let arrayImage = [
		{
			image_left: 'section-image/item6.jpg',
			title: 'A place for makers alike',
			text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt aliquet interdum massa in pulvinar ante. Tincidunt vivamus nulla magna semper lacus lacinia maecenas sed. Arcu commodo urna, phasellus neque.',
			style_mod: 'image_left__content--style_1_mod',
			image_body: 'image_left_in--style_1_mod'
		}
	];

	let arrayImageRight = [
		{
			image_right: 'section-image/item4.jpg',
			title: 'A marketplace like no other',
			text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt aliquet interdum massa in pulvinar ante. Tincidunt vivamus nulla magna semper lacus lacinia maecenas sed. Arcu commodo urna, phasellus neque.',
			style_mod: 'image_left__content--style_2_mod',
			style_text_mod: 'image_left__text--style_mod',
			image_body: 'image_left_in--style_2_mod'
		}
	];
