%h1 {
	font-size: 4rem;
	text-transform: uppercase;
}

// offsets

%title_offset {
	margin-bottom: 2rem;
}

%logo_dimension {
	flex-shrink: 0;

	@include bp($point_4, min) {
		width: 3.6rem;
		height: 4rem;
	}
	@include bp($point_4 - 1) {
		width: 2.8rem;
		height: 3rem;
	}
}

%title_style_1_mod {
	line-height: 1.25;
	@include bp($point_2, min) {
		font-size: 6rem;
	}
	@include bp($point_3, $point_4) {
		font-size: 4.2rem;
	}
	@include bp($point_4 - 1) {
		font-size: 3rem;
	}
}

%title_style_2_mod {
	line-height: 1.25;
	@include bp($point_2, min) {
		font-size: 5rem;
	}
	@include bp($point_3, $point_4) {
		font-size: 4.2rem;
	}
	@include bp($point_4 - 1) {
		font-size: 3rem;
	}
}

%title_style_3_mod {
	line-height: 1.25;
	@include bp($point_2, min) {
		font-size: 5rem;
	}
	@include bp($point_3, $point_4) {
		font-size: 3.6rem;
	}
	@include bp($point_4 - 1) {
		font-size: 2.6rem;
	}
}

%text_style {
	font-weight: 500;

	@include bp($point_3, min) {
		font-size: 1.4rem;
		line-height: 1.8;
	}
	@include bp($point_3, $point_4) {
		font-size: 1.2rem;
		line-height: 1.6;
	}
	@include bp($point_4 - 1) {
		font-size: 1.1rem;
		line-height: 1.9;
	}
}

%text_clamp {
	// display: -webkit-box;
	// -webkit-line-clamp: 12;
	// -webkit-box-orient: vertical;
	// overflow: hidden;
}

%position_absolute {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
