extends ../layout/_layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Ideal-Factory', template_name: 'IndexPage'}
block content_block
	//- include ../blocks/main_section.pug
	//- include ../blocks/image_center_section.pug
	//- include ../blocks/slider_fullscreen.pug
	//- include ../blocks/customiser_section.pug
	//- +image_left(arrayImageBtn)
	//- include ../blocks/scrollbar_slider_section.pug
	//- include ../blocks/marketplace_section.pug

	//- +image_left(arrayImageRight)
	//- include ../blocks/slider_section.pug
	//- +image_left(arrayImage)
	include ../blocks/makers_section.pug