extends ../layout/_layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'Ideal-Factory', template_name: 'IndexPage'}
block content_block
	include ../blocks/main_section.pug
	include ../blocks/image_section.pug
	+image_left(arrayImage)
	button.main__btn.btn_base(type="button") Scroll