.footer {
	width: 100%;
	// height: 100%;
	height: var(--height-footer);
	flex: 0 0 auto;
	padding: 5% 5rem 5rem;

	font-size: 1rem;
	background-color: $section_bg;

	will-change: transform;
}

.footer__body {
	height: 100%;
	@extend %global_flex_block_row_nowrap_flex-start_center;
}

.footer__content {
	@include flex_block(column, nowrap, flex-start, center);
	width: 33.333%;
	height: 100%;
	margin-right: auto;
}

.footer__title {
	margin: auto 0;
	color: $white;
	font-size: 5rem;
	line-height: 1.2;
}

.footer__text {
	margin-top: auto;
	color: $white;
	@extend %text_style;
}

.footer__form {
	width: 33.333%;
	margin-top: auto;
	@extend %global_flex_block_row_nowrap_flex-start_center;
}

.footer_form__input {
	width: 100%;
	padding: 1rem 0;
	border-bottom: 1px solid rgba($white, 0.3);
	&:not(:last-child) {
		margin-right: 6rem;
	}
}

.footer_form__input_email {
	width: 100%;

	font-size: 1.6rem;
	line-height: 2.6rem;
	color: $white;

	background-color: transparent;
	border: 0;

	&::placeholder {
		color: $white;
	}

	&:focus {
		border-color: white;
	}
}

.footer__form_btn {
	@extend %blue_btn_1;
	@extend %btn_size_1;
}
