.footer {
	width: 100%;

	flex: 0 0 auto;

	font-size: 1rem;
	background-color: $section_bg;

	will-change: transform;

	@include bp($point_3, min) {
		height: var(--height-footer);
		padding: 5% 5rem 5rem;
	}
	@include bp($point_3 - 1) {
		padding: 3rem 2rem;
	}
}

.footer__body {
	height: 100%;

	@include bp($point_4, min) {
		@include flex_block(row, nowrap, flex-start, center);
	}
	@include bp($point_3 - 1) {
	}
}

.footer__content {
	@include flex_block(column, nowrap, flex-start, center);

	height: 100%;

	@include bp($point_3, min) {
		max-width: 40rem;
		&:not(:last-child) {
			margin-right: 2rem;
		}
	}
	@include bp($point_3 - 1) {
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}
}

.footer__title {
	margin: auto 0;
	color: $white;

	line-height: 1.2;
	&:not(:last-child) {
		margin-bottom: 2rem;
	}

	@include bp($point_3, min) {
		font-size: 5rem;
	}
	@include bp($point_3 - 1) {
		font-size: 3rem;
	}
}

.footer__text {
	margin-top: auto;
	color: $white;
	@extend %text_style;
}

.footer__form {
	margin-top: auto;
	margin-left: auto;
	@extend %global_flex_block_row_nowrap_flex-start_center;
	@include bp($point_1, min) {
		width: 33.333%;
	}
	@include bp($point_1 - 1) {
		width: 50%;
	}
	@include bp($point_3) {
		width: 100%;
	}
}

.footer_form__input {
	width: 100%;
	padding: 1rem 0;
	border-bottom: 1px solid rgba($white, 0.3);

	@include bp($point_2, min) {
		&:not(:last-child) {
			margin-right: 6rem;
		}
	}
	@include bp($point_2 - 1) {
		&:not(:last-child) {
			margin-right: 2rem;
		}
	}
}

.footer_form__input_email {
	width: 100%;

	font-size: 1.6rem;
	line-height: 2.6rem;
	color: $white;

	background-color: transparent;
	border: 0;

	&::placeholder {
		color: $white;
	}

	&:focus {
		border-color: white;
	}
}

.footer__form_btn {
	@extend %blue_btn_1;
	@extend %btn_size_1;
}
