.btn_base {
	@extend %blue_btn_1;
	@extend %btn_size_1;
}

.main__btn {
	position: fixed;

	width: auto;
	z-index: 101;
	@include bp($point_2, min) {
		left: 5rem;
		bottom: 5rem;
	}
	@include bp($point_2 - 1) {
		left: 2rem;
		bottom: 7rem;
	}
}
